.show {

    opacity: 1;
    visibility: visible;

}

.hide {

    opacity: 0;
    visibility: hidden;

}



@media all and (max-width: 500px) {

    body {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
        background-color: rgb(255, 220, 168);
    }

    p {
        line-height: 24px;
    }

    form {

        text-align: left;

    }

    input,label {

margin: 0;

    }

    #q1 {

        margin: auto;
        padding: 50px;

    }



}